<%= form_with model: issue, url: if issue.persisted?
                                   issue_path(issue)
                                 else
                                   project_issues_path(issue.project)
                                 end, data: { controller: "form", action: "ajax:error->form#update" } do |f| %>
  <div class="form-group">
    <%= f.label :parent_id %>
    <%= f.select(:parent_id, parent_issue_options(issue), { include_blank: "No parent issue." }) %>
  </div>

  <div class="form-group">
    <%= f.label :assignee_id %>
    <%= f.select(:assignee_id, project_member_options(current_project), { include_blank: "Not assigned." }) %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: form_input_class(issue, :subject), placeholder: "My new issue." %>
    <%= form_input_errors issue, :subject  %>
  </div>
  <div ass="form-group" data-controller="markdown" data-markdown-preview-url="<%= markdown_previews_path %>">
    <%= f.label :description %>
    <div data-target="markdown.preview"></div>
    <%= f.text_area :description, class: form_input_class(issue, :description), rows: 18,
      data: {
        target: "markdown.textArea",
        action: "keyup->markdown#resize paste->markdown#resize"
    } %>
    <%= form_input_errors issue, :description  %>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar for markdown editor.">
      <div class="btn-group mr-2 mt-2" role="group" aria-label="Text styles">
        <button type="button" class="btn btn-secondary" data-action="markdown#bold" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Bold</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/bold.svg", class: "svg-icon" %>
        </button>
        <button type="button" class="btn btn-secondary" data-action="markdown#italic" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Italic</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/italic.svg", class: "svg-icon" %>
        </button>
        <button type="button" class="btn btn-secondary" data-action="markdown#strike" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Strike through</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/strikethrough.svg", class: "svg-icon" %>
        </button>
      </div>
      <div class="btn-group mr-2 mt-2" role="group" aria-label="Lists">
        <button type="button" class="btn btn-secondary" data-action="markdown#unordered" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Unordered  List</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/list-ul.svg", class: "svg-icon" %>
        </button>
        <button type="button" class="btn btn-secondary" data-action="markdown#ordered" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Ordered List</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/list-ol.svg", class: "svg-icon" %>
        </button>
      </div>
      <div class="btn-group mr-2 mt-2" role="group" aria-label="Table, Code etc.">
        <button type="button" class="btn btn-secondary" data-action="markdown#table" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Table</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/table.svg", class: "svg-icon" %>
        </button>
        <button type="button" class="btn btn-secondary" data-action="markdown#quote" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Quote</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/quote-right.svg", class: "svg-icon" %>
        </button>
        <button type="button" class="btn btn-secondary" data-action="markdown#code" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Code</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/code.svg", class: "svg-icon" %>
        </button>
        <button type="button" class="btn btn-secondary" data-action="markdown#link" data-target="markdown.toolButton">
          <p class="sr-only sr-only-focusable">Link</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/link.svg", class: "svg-icon" %>
        </button>
      </div>
      <div class="btn-group mr-2 mt-2" role="group" aria-label="Preview changes">
        <%= link_to  markdown_previews_path, class: "btn btn-secondary", remote: true, method: :post,
          data: { action: "markdown#preparePreview ajax:success->markdown#preview", target: "markdown.previewButton" } do %>
          <p class="sr-only sr-only-focusable">Preview</p>
          <%= inline_svg_tag "@fortawesome/fontawesome-free/svgs/solid/eye.svg", class: "svg-icon" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select(:status, Issue::STATUSES) %>
  </div>

  <div class="form-group">
    <%= f.label :due_at %>
    <%= f.text_field :due_at, class: form_input_class(issue, :due_at), placeholder: "Pick a date.", data: { controller: "flatpickr", flatpickr_min_date: Time.zone.now } %>
    <%= form_input_errors issue, :due_at  %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
