<div class="row pt-4">
  <div class="col-12 col-lg-6">
    <div class="d-flex align-items-end">
      <h3 class="flex-grow-1">Projects</h3>
      <%= link_to 'Add project', new_project_path, class: "btn btn-link" %>
    </div>

    <ul class="list-unstyled">
      <% current_member.projects.each do |project| %>
        <li class="media shadow-sm bg-white mb-2 p-2">
          <%= link_to project_path(project), class: "text-body" do %>
            <%= image_tag "logo.png", class: "mr-3", alt: project.key %>
            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <%= project.key %>
                <small class="text-muted"><%= project.name %></small>
              </h5>
              <%= link_to 'Add issue', new_project_issue_path(project), class: "btn btn-link" %>
              |
              <%= link_to 'Issues', project_issues_path(project), class: "btn btn-link" %>
              |
              <%= link_to 'Gantt Chart', project_project_gantt_chart_path(project), class: "btn btn-link" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h3 class="mt-5">My issues</h3>

    <div class="card">
      <div class="card-header d-flex">
        <div class="d-flex flex-column justify-content-around mr-3">
          <div class="h5">Filters:</div>
          <div class="h5">Due date:</div>
        </div>
        <div>
          <div class"">
            <%= button_to dashboard_path, class: "btn #{ @my_issues_params[:assigned] == "true" ? "btn-primary" : "btn-light" } btn-sm my-1", form_class: "d-inline", method: :get do %>
              <%= my_issues_selection(@my_issues_params, { assigned: true, created: false }) %>
              Assigned to me (<%= current_member.issue_count.assigned_count %>)
            <% end %>

            <%= button_to dashboard_path, class: "btn #{ @my_issues_params[:created] == "true" ? "btn-primary" : "btn-light" } btn-sm my-1", form_class: "d-inline", method: :get do %>
              <%= my_issues_selection(@my_issues_params, { assigned: false, created: true }) %>
              Created by me (<%= current_member.issue_count.created_count %>)
            <% end %>
          </div>
          <div>
            <%= button_to dashboard_path, class: "btn #{ @my_issues_params[:all] == "true" ? "btn-primary" : "btn-light" } btn-sm my-1", form_class: "d-inline", method: :get do %>
              <%= my_issues_selection(@my_issues_params, { all: true, four_day: false, today: false, overdue: false }) %>
              All (<%= @my_issues_params[:assigned] == "true" ? current_member.issue_count.assigned_count : current_member.issue_count.created_count %>)
            <% end %>
            <%= button_to dashboard_path, class: "btn #{ @my_issues_params[:four_day] == "true" ? "btn-primary" : "btn-light" } btn-sm my-1", form_class: "d-inline", method: :get do %>
              <%= my_issues_selection(@my_issues_params, { all: false, four_day: true, today: false, overdue: false }) %>
              4 Days (<%= @my_issues_params[:assigned] == "true" ? current_member.issue_count.four_days_assigned_count : current_member.issue_count.four_days_created_count %>)
            <% end %>
             <%= button_to dashboard_path, class: "btn #{ @my_issues_params[:today] == "true" ? "btn-primary" : "btn-light" } btn-sm my-1", form_class: "d-inline", method: :get do %>
              <%= my_issues_selection(@my_issues_params, { all: false, four_day: false, today: true, overdue: false }) %>
              Due Today (<%= @my_issues_params[:assigned] == "true" ? current_member.issue_count.today_assigned_count : current_member.issue_count.today_created_count %>)
            <% end %>
            <%= button_to dashboard_path, class: "btn #{ @my_issues_params[:overdue] == "true" ? "btn-primary" : "btn-light" } btn-sm my-1", form_class: "d-inline", method: :get do %>
              <%= my_issues_selection(@my_issues_params, { all: false, four_day: false, today: false, overdue: true }) %>
              Overdue (<%= @my_issues_params[:assigned] == "true" ? current_member.issue_count.overdue_assigned_count : current_member.issue_count.overdue_created_count %>)
            <% end %>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Subject</th>
            <th scope="col" class="text-right">Due</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <th scope="row">
                <%= link_to "#{issue.project.key}-#{issue.id}", issue_path(issue) %>
              </th>
              <td><%= issue.subject %></td>
              <td class="text-right"><%= issue.due_at ? l(issue.due_at, format: :short) : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="d-flex align-items-end">
      <h3 class="flex-grow-1">Recent Updates</h3>
    </div>

    <% @histories.first(4).each do |history| %>
      <div class="mb-4">
        <%= render history %>
      </div>
    <% end %>
  </div>
</div>
