<!DOCTYPE html>
<html>
  <head>
    <title>Resourcer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light navbar-top-padding">
    <%= render "modal" %>
    <%= render "navigation" if current_member %>

    <%= render "flashes" %>

    <% if current_project %>
      <aside class="sidebar__sidebar">
        <div class="sidebar__sidebar-sticky">
          <%= render "project_sidebar" %>
        </div>
      </aside>
    <% end %>

    <div class="<%= current_project ? "sidebar__content" : "" %>">
      <main class="<%= current_project ? "container-fluid" : "container" %>">
        <% if current_project %>
          <h5 class="mt-3">
            <%= image_tag "logo.png", class: "align-self-center mr-1", alt: current_project.key %>
            <%= current_project.key %>
            <small class="text-muted"><%= current_project.name %></small>
          </h5>

          <hr>
        <% end %>

        <%= yield %>
      </main>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2019-<%= Date.today.year %> Armin Kirchner</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= link_to "Privacy", page_path("privacy") %>
          </li>
          <li class="list-inline-item">
            <%= link_to "Terms", page_path("terms") %>
          </li>
          <li class="list-inline-item">
            <a href="mailto:support@resourcer.work">Support</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
